/*** SCROLLBAR STYLE ***/
::-webkit-scrollbar {
	width: 0.50rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}


.v-application pre code {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
		"Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
		"Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
		monospace;
	white-space: pre-wrap;
	padding: 0.75rem 1rem;
	display: block;
}
.theme--light.v-application code {
	background-color: rgba(50, 50, 50, 0.02);
	color: currentColor;
}
.theme--dark.v-application code {
	background-color: hsla(0, 0%, 100%, 0.1);
	color: currentColor;
}
